a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: mediumturquoise;
    color: black;
}

.previous {
    background-color: darkcyan;
    color: white;
    padding: 8px 16px;
}

.next {
    background-color: darkcyan;
    color: white;
    padding: 8px 26px;
}

/* alternatively, set bottom and left/right to 0 
   place the buttons in the left/right bottom corner 
*/

.bottom-right {
    right: 0;
    bottom: 0;
    position: absolute;
}

.bottom-left {
    left: 0;
    bottom: 0;
    position: absolute;
}