.nav {
    background-color: black;
}

.nav-pills li a{
    color: white;
}

.nav-pills > li > .dropdown-menu { 
    background-color: lightgrey; 
    
}
.nav-pills > li > .dropdown-menu > .dropdown-item { 
    color: black; 
    
}

.progress{
    position: relative; 
    margin-top: -16px; 
    width: 100%;
    height: 30px;
    background-color: white;
}

.breadcrumb {
    background-color: lightgray;
}

.breadcrumb > li > a {
    color: black;
}

.breadcrumb > .active a{
    color: lightslategray;
}

.breadcrumb > .active a:hover{
    background-color: lightgray;
    color: lightslategray;
}

.breadcrumb > li > a:hover {
    background-color: lightgray;
    color: white;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: black;
    content: "|";
  }



